# Advent of Code Day 2

## Part 1

In [10]:
import pandas as pd

Paste input data into csv file and read into Pandas dataframe then transpose them to switch rows and columns

In [ ]:
df = pd.read_csv('input-day2.csv', sep=' ', header=None, engine='python',)

      0   1   2   3   4     5     6     7
0    22  25  27  28  30  31.0  32.0  29.0
1    72  74  75  77  80  81.0  81.0   NaN
2    52  53  55  58  59  63.0   NaN   NaN
3    14  17  19  22  27   NaN   NaN   NaN
4    65  68  67  68  71  73.0  76.0  77.0
..   ..  ..  ..  ..  ..   ...   ...   ...
995  43  46  49  52  55  56.0  57.0  58.0
996  41  44  47  48  50  53.0   NaN   NaN
997  33  31  28  27  24  22.0  19.0   NaN
998  36  35  32  31  28   NaN   NaN   NaN
999  93  91  90  89  86  85.0  82.0  80.0

[1000 rows x 8 columns]

Iterate through rows and drop NaN values then use .is_monotonic_increasing and .is_monotonic_decreasing with .is_unique to check for strict increasing/decreasing to check the first rule.
If the series passes the first test, check if all absolute values in the series are less than 4. (The strict monotonic check already filtered out any values with a difference of less than 1.)

*I feel like there may be a way to do this in a vectorized way, maybe with apply, but I wasn't sure how to do the extra data cleaning for the processing.*

In [121]:
clean_list = []
for idx, row in df.iterrows():
    p1 = row.dropna()
    if (p1.is_monotonic_increasing and p1.is_unique) or (p1.is_monotonic_decreasing and p1.is_unique):
        clean = p1.diff().dropna().astype('int').abs()
        if clean.lt(4).all():
            clean_list.append(clean)

solution_p1 = len(clean_list)
solution_p1

639

## Part 2

The Problem Dampener is a reactor-mounted module that lets the reactor safety systems tolerate a single bad level in what would otherwise be a safe report. It's like the bad level never happened! Now, the same rules apply as before, except if removing a single level from an unsafe report would make it safe, the report instead counts as safe. Update your analysis by handling situations where the Problem Dampener can remove a single level from unsafe reports. How many reports are now safe?

Run the same report, but append all the unsafe reports to a list for this part. 

Try:
- [X] Groupby then counter to count how many groups are >= 2 counts, if counter is more than 1, it fails
- [ ] Create df of series, column of diffs, and if diff is +/-/0 
- [ ] monotonic without unique

In [ ]:
# Updated from Part 1 to capture unsafe reports
clean_list = []
unsafe_list = []
for idx, row in df.iterrows():
    p1 = row.dropna()
    if (p1.is_monotonic_increasing and p1.is_unique) or (p1.is_monotonic_decreasing and p1.is_unique):
        clean = p1.diff().dropna().astype('int').abs()
        if clean.lt(4).all():
            clean_list.append(clean)
        else:
            unsafe_list.append(p1)
    else:
        unsafe_list.append(p1)

print(len(unsafe_list)) # Checking I captured all the unsafe reports (Should be 361 (1000 - 639)

361

In [167]:
# Groupby
rejected_list = []
r1_list = []
for record in unsafe_list:
    counter = 0
    p2 = record.dropna()
    grouped = p2.groupby(p2).size()
    for i in grouped:
        if i >= 2:
            counter += 1
    if counter > 1:
        rejected_list.append(p2)
    else:
        r1_list.append(p2)

print(len(r1_list))

303

In [166]:
# Checking Diffs
for record in r1_list:
    p3 = record.diff().dropna().astype('int')
    print(p3)

1    3
2    2
3    1
4    2
5    1
6    1
7   -3
Name: 0, dtype: int64
1    2
2    1
3    2
4    3
5    1
6    0
Name: 1, dtype: int64
1    1
2    2
3    3
4    1
5    4
Name: 2, dtype: int64
1    3
2    2
3    3
4    5
Name: 3, dtype: int64
1    3
2   -1
3    1
4    3
5    2
6    3
7    1
Name: 4, dtype: int64
1    3
2   -3
3    2
4   -1
Name: 5, dtype: int64
1    2
2   -3
3    3
4    0
Name: 6, dtype: int64
1    3
2   -2
3    3
4    1
5    3
6    4
Name: 7, dtype: int64
1    3
2    0
3    1
4    3
5    3
6    1
Name: 9, dtype: int64
1    2
2    0
3    1
4   -1
Name: 10, dtype: int64
1    1
2    2
3    3
4    2
5    0
6    4
Name: 12, dtype: int64
1    2
2    1
3    0
4    2
5    7
Name: 13, dtype: int64
1    2
2    2
3    4
4    1
Name: 14, dtype: int64
1    3
2    2
3    4
4    1
5    2
6    2
7   -3
Name: 15, dtype: int64
1    1
2    1
3    1
4    1
5    1
6    4
7    0
Name: 16, dtype: int64
1    1
2    4
3    2
4    2
5    1
6    1
7    4
Name: 17, dtype: int64
1    3
2    4
3    2
4    2
5    6
Name: 18, dtype: int64
1    1
2    2
3    2
4    3
5    5
6    2
7    2
Name: 19, dtype: int64
1    2
2    1
3    5
4    1
5   -1
Name: 20, dtype: int64
1    1
2    6
3    1
4    0
Name: 21, dtype: int64
1    1
2    1
3    2
4    5
5    3
6    4
Name: 22, dtype: int64
1    2
2    5
3    1
4    1
5    7
Name: 23, dtype: int64
1   -1
2    3
3    1
4    3
5    1
6    2
Name: 24, dtype: int64
1   -3
2    3
3    2
4   -1
Name: 25, dtype: int64
1   -1
2    2
3    1
4    2
5    1
6    0
Name: 26, dtype: int64
1   -3
2    3
3    1
4    4
Name: 27, dtype: int64
1   -3
2    2
3    3
4    2
5    6
Name: 28, dtype: int64
1   -1
2    3
3   -1
4    1
5    2
6    4
Name: 32, dtype: int64
1   -2
2    3
3    2
4   -1
5    1
6    7
Name: 33, dtype: int64
1   -2
2    3
3    0
4    0
Name: 36, dtype: int64
1   -2
2    0
3    1
4    2
5    4
Name: 37, dtype: int64
1   -3
2    1
3    0
4    7
Name: 38, dtype: int64
1   -3
2    1
3    2
4    4
5    1
Name: 39, dtype: int64
1   -3
2    2
3    1
4    4
5    1
6   -3
Name: 40, dtype: int64
1   -3
2    4
3    3
4    2
5    3
6    0
Name: 41, dtype: int64
1   -3
2    2
3    4
4    4
Name: 42, dtype: int64
1   -3
2    1
3    2
4    3
5    1
6    4
7    5
Name: 43, dtype: int64
1   -2
2    1
3    2
4    7
5    2
Name: 44, dtype: int64
1   -3
2    2
3    3
4    5
5    2
6    3
7   -3
Name: 45, dtype: int64
1   -1
2    2
3    1
4    5
5    3
6    0
Name: 46, dtype: int64
1   -3
2    3
3    5
4    4
Name: 47, dtype: int64
1   -3
2    1
3    6
4    3
5    6
Name: 48, dtype: int64
1    0
2    2
3    1
4    1
5    3
6    3
7    3
Name: 49, dtype: int64
1    0
2    3
3    1
4    2
5    2
6    4
Name: 52, dtype: int64
1    0
2    2
3    1
4    7
Name: 53, dtype: int64
1    0
2    1
3   -1
4    2
5    3
Name: 54, dtype: int64
1    0
2   -2
3    1
4    1
5    4
Name: 57, dtype: int64
1    0
2    3
3    1
4   -2
5    5
Name: 58, dtype: int64
1    0
2    3
3    1
4    4
5    1
6    2
Name: 64, dtype: int64
1    0
2    2
3    3
4    3
5    3
6    4
7   -2
Name: 65, dtype: int64
1    0
2    4
3    1
4    3
5    4
Name: 67, dtype: int64
1    0
2    2
3    2
4    3
5    4
6    7
Name: 68, dtype: int64
1    0
2    5
3    3
4    1
Name: 69, dtype: int64
1    0
2    2
3    7
4    2
5    4
Name: 72, dtype: int64
1    0
2    2
3    6
4    1
5    1
6    3
7    7
Name: 73, dtype: int64
1    4
2    3
3    2
4    1
Name: 74, dtype: int64
1    4
2    1
3    3
4   -3
Name: 75, dtype: int64
1    4
2    1
3    1
4    1
5    3
6    0
Name: 76, dtype: int64
1    4
2    1
3    3
4    4
Name: 77, dtype: int64
1    4
2    3
3    3
4    5
Name: 78, dtype: int64
1    4
2   -1
3    3
4    2
5    1
6    1
Name: 79, dtype: int64
1    4
2    3
3   -2
4    1
5    2
6    4
Name: 82, dtype: int64
1    4
2   -2
3    2
4    7
Name: 83, dtype: int64
1    4
2    0
3    2
4    3
5    3
6    1
Name: 84, dtype: int64
1    4
2    3
3    0
4    3
5    1
6   -3
Name: 85, dtype: int64
1    4
2    0
3    2
4    2
5    4
Name: 87, dtype: int64
1    4
2    0
3    1
4    1
5    7
Name: 88, dtype: int64
1    4
2    1
3    3
4    4
5    1
6    2
7    3
Name: 89, dtype: int64
1    4
2    1
3    4
4    1
5   -3
Name: 90, dtype: int64
1    4
2    2
3    4
4    0
Name: 91, dtype: int64
1    4
2    3
3    2
4    2
5    1
6    4
7    4
Name: 92, dtype: int64
1    4
2    3
3    4
4    5
Name: 93, dtype: int64
1    4
2    3
3    3
4    1
5    7
6    2
Name: 94, dtype: int64
1    4
2    7
3    3
4    1
5   -1
Name: 95, dtype: int64
1    4
2    1
3    1
4    6
5    0
Name: 96, dtype: int64
1    4
2    1
3    3
4    3
5    6
6    3
7    4
Name: 97, dtype: int64
1    4
2    3
3    3
4    3
5    6
6    6
Name: 98, dtype: int64
1    6
2    2
3    1
4    1
Name: 99, dtype: int64
1    7
2    1
3    2
4   -2
Name: 100, dtype: int64
1    7
2    2
3    1
4    1
5    1
6    1
7    0
Name: 101, dtype: int64
1    5
2    2
3    2
4    3
5    3
6    4
Name: 102, dtype: int64
1    7
2    3
3    3
4    7
Name: 103, dtype: int64
1    6
2   -2
3    1
4    1
5    2
6    3
7    1
Name: 104, dtype: int64
1    7
2    2
3    1
4    3
5    3
6   -1
7   -1
Name: 105, dtype: int64
1    6
2   -2
3    2
4    0
Name: 106, dtype: int64
1    7
2   -1
3    3
4    3
5    4
Name: 107, dtype: int64
1    5
2    1
3    3
4   -2
5    2
6    7
Name: 108, dtype: int64
1    5
2    0
3    3
4    3
5    2
6    1
7    2
Name: 109, dtype: int64
1    7
2    1
3    1
4    3
5    0
6    2
7   -1
Name: 110, dtype: int64
1    7
2    0
3    2
4    4
Name: 112, dtype: int64
1    6
2    2
3    3
4    0
5    3
6    6
Name: 113, dtype: int64
1    7
2    2
3    4
4    1
5    1
Name: 114, dtype: int64
1    7
2    3
3    1
4    4
5    1
6    2
7   -3
Name: 115, dtype: int64
1    5
2    1
3    1
4    1
5    4
6    1
7    0
Name: 116, dtype: int64
1    5
2    2
3    3
4    1
5    4
6    4
Name: 117, dtype: int64
1    5
2    1
3    4
4    2
5    2
6    3
7    6
Name: 118, dtype: int64
1    6
2    3
3    5
4    1
Name: 119, dtype: int64
1    7
2    1
3    3
4    5
5    2
6    3
7   -2
Name: 120, dtype: int64
1    7
2    2
3    3
4    1
5    6
6    0
Name: 121, dtype: int64
1    6
2    2
3    6
4    4
Name: 122, dtype: int64
1    5
2    1
3    7
4    1
5    7
Name: 123, dtype: int64
1   -3
2   -2
3   -3
4   -1
5   -3
6    1
Name: 124, dtype: int64
1   -1
2   -3
3   -1
4   -1
5   -1
6    0
Name: 125, dtype: int64
1   -3
2   -1
3   -2
4   -3
5   -4
Name: 126, dtype: int64
1   -1
2   -1
3   -1
4   -2
5   -6
Name: 127, dtype: int64
1   -2
2    2
3   -3
4   -3
5   -4
Name: 131, dtype: int64
1   -3
2   -2
3    3
4   -3
5   -2
6   -3
7   -5
Name: 132, dtype: int64
1   -2
2   -2
3    0
4   -1
5   -3
Name: 133, dtype: int64
1   -1
2   -1
3    0
4    0
Name: 135, dtype: int64
1   -2
2   -1
3    0
4   -4
Name: 136, dtype: int64
1   -3
2   -1
3    0
4   -3
5   -1
6   -7
Name: 137, dtype: int64
1   -3
2   -3
3   -1
4   -1
5   -4
6   -1
7   -3
Name: 138, dtype: int64
1   -1
2   -4
3   -2
4    3
Name: 139, dtype: int64
1   -2
2   -4
3   -2
4   -1
5   -1
6    0
Name: 140, dtype: int64
1   -1
2   -4
3   -2
4   -2
5   -4
Name: 141, dtype: int64
1   -2
2   -3
3   -4
4   -2
5   -2
6   -3
7   -7
Name: 142, dtype: int64
1   -2
2   -2
3   -6
4   -2
Name: 143, dtype: int64
1   -1
2   -2
3   -2
4   -1
5   -5
6   -3
7    2
Name: 144, dtype: int64
1   -1
2   -1
3   -7
4   -3
5   -1
6   -3
7    0
Name: 145, dtype: int64
1   -1
2   -3
3   -7
4   -3
5   -1
6   -4
Name: 146, dtype: int64
1   -2
2   -3
3   -3
4   -1
5   -5
6   -7
Name: 147, dtype: int64
1    1
2   -2
3   -2
4   -2
5   -3
6   -1
Name: 148, dtype: int64
1    2
2   -3
3   -3
4   -1
5   -3
6    2
Name: 149, dtype: int64
1    3
2   -1
3   -3
4   -3
5   -2
6   -3
7    0
Name: 150, dtype: int64
1    2
2   -3
3   -2
4   -2
5   -4
Name: 151, dtype: int64
1    2
2   -2
3   -2
4   -6
Name: 152, dtype: int64
1    1
2    3
3   -2
4   -2
5   -1
Name: 153, dtype: int64
1    3
2   -1
3    2
4   -1
5    2
Name: 154, dtype: int64
1    1
2   -3
3    2
4    0
Name: 155, dtype: int64
1    3
2   -3
3    0
4   -3
Name: 158, dtype: int64
1    3
2   -3
3    0
4   -1
5   -4
Name: 161, dtype: int64
1    2
2    0
3   -3
4   -5
Name: 162, dtype: int64
1    3
2   -4
3   -2
4   -2
5   -2
6   -3
Name: 163, dtype: int64
1    1
2   -2
3   -2
4   -3
5   -3
6   -4
7    1
Name: 164, dtype: int64
1    2
2   -1
3   -2
4   -4
5    0
Name: 165, dtype: int64
1    2
2   -2
3   -2
4   -4
5   -4
Name: 166, dtype: int64
1    2
2   -2
3   -4
4   -1
5   -5
Name: 167, dtype: int64
1    3
2   -5
3   -2
4   -1
Name: 168, dtype: int64
1    3
2   -5
3   -2
4   -3
5    2
Name: 169, dtype: int64
1    2
2   -3
3   -2
4   -7
5    0
Name: 170, dtype: int64
1    1
2   -7
3   -2
4   -3
5   -2
6   -4
Name: 171, dtype: int64
1    1
2   -3
3   -6
4   -1
5   -7
Name: 172, dtype: int64
1    0
2   -3
3   -3
4   -1
Name: 173, dtype: int64
1    0
2   -1
3   -2
4   -4
Name: 176, dtype: int64
1    0
2   -3
3   -2
4   -1
5   -3
6   -6
Name: 177, dtype: int64
1    0
2    1
3   -2
4   -2
5   -2
6   -1
Name: 178, dtype: int64
1    0
2   -3
3    2
4    1
Name: 179, dtype: int64
1    0
2   -1
3   -2
4    3
5    0
Name: 180, dtype: int64
1    0
2   -2
3   -2
4    1
5   -3
6   -1
7   -6
Name: 182, dtype: int64
1    0
2    0
3   -1
4    2
Name: 184, dtype: int64
1    0
2    0
3   -3
4   -7
Name: 187, dtype: int64
1    0
2   -1
3   -2
4   -4
5   -3
6   -1
7   -2
Name: 188, dtype: int64
1    0
2   -2
3   -3
4   -4
5    2
Name: 189, dtype: int64
1    0
2   -3
3   -4
4   -4
Name: 191, dtype: int64
1    0
2   -1
3   -4
4   -7
Name: 192, dtype: int64
1    0
2   -7
3   -2
4   -1
Name: 193, dtype: int64
1    0
2   -3
3   -1
4   -6
5    2
Name: 194, dtype: int64
1    0
2   -3
3   -6
4   -2
5   -1
6   -4
Name: 196, dtype: int64
1    0
2   -5
3   -1
4   -3
5   -7
Name: 197, dtype: int64
1   -4
2   -1
3   -2
4   -2
5   -1
6   -3
Name: 198, dtype: int64
1   -4
2   -3
3   -3
4   -3
5    3
Name: 199, dtype: int64
1   -4
2   -3
3   -3
4    0
Name: 200, dtype: int64
1   -4
2   -2
3   -3
4   -2
5   -2
6   -4
Name: 201, dtype: int64
1   -4
2   -1
3   -1
4   -6
Name: 202, dtype: int64
1   -4
2    1
3   -2
4   -3
Name: 203, dtype: int64
1   -4
2   -2
3   -1
4    2
5    2
Name: 204, dtype: int64
1   -4
2   -3
3    1
4   -2
5   -1
6    0
Name: 205, dtype: int64
1   -4
2   -3
3   -3
4    2
5   -2
6   -4
Name: 206, dtype: int64
1   -4
2   -2
3   -1
4    3
5   -5
Name: 207, dtype: int64
1   -4
2    0
3   -1
4   -2
Name: 208, dtype: int64
1   -4
2   -2
3   -2
4    0
5   -4
Name: 211, dtype: int64
1   -4
2    0
3   -1
4   -6
Name: 212, dtype: int64
1   -4
2   -3
3   -2
4   -4
5   -1
Name: 213, dtype: int64
1   -4
2   -4
3   -3
4   -2
5    2
Name: 214, dtype: int64
1   -4
2   -2
3   -2
4   -4
5   -1
6   -3
7    0
Name: 215, dtype: int64
1   -4
2   -4
3   -2
4   -4
Name: 216, dtype: int64
1   -4
2   -1
3   -4
4   -3
5   -1
6   -6
Name: 217, dtype: int64
1   -4
2   -3
3   -1
4   -6
5   -3
6   -2
Name: 218, dtype: int64
1   -4
2   -2
3   -6
4   -1
5   -3
6    1
Name: 219, dtype: int64
1   -4
2   -2
3   -3
4   -3
5   -6
6   -2
7    0
Name: 220, dtype: int64
1   -4
2   -2
3   -6
4   -1
5   -4
Name: 221, dtype: int64
1   -4
2   -3
3   -7
4   -3
5   -2
6   -3
7   -5
Name: 222, dtype: int64
1   -6
2   -3
3   -1
4   -1
5   -3
6   -3
7   -1
Name: 223, dtype: int64
1   -5
2   -2
3   -3
4   -2
5    1
Name: 224, dtype: int64
1   -7
2   -3
3   -3
4   -1
5    0
Name: 225, dtype: int64
1   -5
2   -1
3   -2
4   -2
5   -2
6   -4
Name: 226, dtype: int64
1   -5
2   -3
3   -1
4   -3
5   -1
6   -7
Name: 227, dtype: int64
1   -5
2    1
3   -2
4   -2
5   -3
6   -2
7    2
Name: 229, dtype: int64
1   -6
2   -1
3    1
4    0
Name: 230, dtype: int64
1   -7
2   -3
3   -1
4    1
5   -2
6   -3
7   -4
Name: 231, dtype: int64
1   -7
2   -3
3    3
4   -2
5   -2
6   -6
Name: 232, dtype: int64
1   -6
2   -2
3   -3
4    0
5   -3
Name: 233, dtype: int64
1   -5
2   -3
3   -1
4    0
5   -1
6    3
Name: 234, dtype: int64
1   -6
2   -1
3    0
4   -4
Name: 236, dtype: int64
1   -5
2   -2
3    0
4   -6
Name: 237, dtype: int64
1   -6
2   -4
3   -3
4   -3
Name: 238, dtype: int64
1   -5
2   -1
3   -2
4   -3
5   -2
6   -4
7    2
Name: 239, dtype: int64
1   -7
2   -4
3   -1
4   -1
5   -3
6    0
Name: 240, dtype: int64
1   -5
2   -1
3   -4
4   -1
5   -1
6   -4
Name: 241, dtype: int64
1   -5
2   -3
3   -3
4   -4
5   -2
6   -2
7   -5
Name: 242, dtype: int64
1   -5
2   -3
3   -6
4   -2
5   -1
Name: 243, dtype: int64
1   -6
2   -1
3   -2
4   -5
5    2
Name: 244, dtype: int64
1   -5
2   -1
3   -7
4    0
Name: 245, dtype: int64
1   -5
2   -3
3   -2
4   -7
5   -4
Name: 246, dtype: int64
1   -6
2   -3
3   -7
4   -7
Name: 247, dtype: int64
1    2
2    1
3    3
4    0
5    4
Name: 248, dtype: int64
1   -1
2    3
3    0
4   -1
Name: 249, dtype: int64
1    2
2   -1
3   -1
4   -4
5   -1
6   -2
Name: 250, dtype: int64
1    1
2   -2
3   -3
4   -3
5   -4
Name: 251, dtype: int64
1   -3
2    2
3   -3
4   -7
Name: 252, dtype: int64
1    0
2    7
3    2
4    3
5    3
6   -2
Name: 253, dtype: int64
1    6
2    3
3    1
4    5
Name: 254, dtype: int64
1   -7
2   -1
3   -3
4   -2
Name: 255, dtype: int64
1    0
2    2
3    4
4    1
5    3
6    4
Name: 256, dtype: int64
1    3
2   -1
3   -3
4    0
Name: 257, dtype: int64
1    0
2   -3
3   -3
4   -6
5   -2
6   -5
Name: 259, dtype: int64
1   -1
2   -3
3    1
4   -1
Name: 260, dtype: int64
1    4
2    1
3    2
4   -1
5    4
Name: 261, dtype: int64
1   -7
2    2
3   -3
4    0
Name: 262, dtype: int64
1    3
2   -1
3    3
4    2
5   -2
Name: 263, dtype: int64
1   -3
2    2
3    6
4    5
Name: 264, dtype: int64
1    0
2   -1
3   -3
4   -2
5   -1
6   -4
Name: 265, dtype: int64
1   -1
2    1
3    1
4    3
5    4
6    3
Name: 266, dtype: int64
1    0
2   -3
3   -2
4   -3
5   -3
6   -1
7   -1
Name: 267, dtype: int64
1    0
2    4
3    2
4    1
Name: 269, dtype: int64
1    7
2    4
3    3
4    2
5    0
Name: 272, dtype: int64
1    4
2    1
3    5
4   -1
Name: 273, dtype: int64
1    6
2    2
3    2
4    1
5    1
6    1
Name: 274, dtype: int64
1    1
2   -3
3   -2
4   -3
5    1
Name: 275, dtype: int64
1   -7
2   -3
3   -1
4   -4
Name: 276, dtype: int64
1    4
2    2
3   -1
4    5
Name: 277, dtype: int64
1   -4
2    0
3   -2
4   -1
5   -3
6   -1
7   -4
Name: 279, dtype: int64
1    0
2    0
3   -1
4   -4
Name: 280, dtype: int64
1   -4
2   -4
3   -1
4   -3
5   -2
6   -3
Name: 281, dtype: int64
1   -1
2   -2
3   -3
4   -3
5   -3
6   -7
Name: 282, dtype: int64
1    3
2    3
3    4
4    3
5    2
6    2
7    7
Name: 283, dtype: int64
1    2
2    2
3    2
4    5
5    1
6    3
7    1
Name: 284, dtype: int64
1   -4
2    2
3   -1
4   -2
5   -3
6   -4
Name: 286, dtype: int64
1    7
2    3
3    3
4    3
5    3
6    0
Name: 287, dtype: int64
1   -2
2   -5
3   -3
4   -2
5   -2
Name: 288, dtype: int64
1   -4
2   -1
3   -6
4   -2
5    3
Name: 289, dtype: int64
1   -1
2   -2
3    1
4    1
5    2
6    4
Name: 290, dtype: int64
1    3
2    1
3    1
4    4
5   -3
Name: 291, dtype: int64
1   -1
2   -1
3   -1
4    0
5   -1
6   -7
Name: 293, dtype: int64
1    0
2    3
3    1
4    3
5    2
6    1
Name: 294, dtype: int64
1    4
2    4
3    1
4    4
Name: 295, dtype: int64
1   -5
2   -4
3   -1
4   -3
5   -3
6   -2
7    1
Name: 296, dtype: int64
1   -7
2   -2
3   -2
4   -1
5   -4
6   -3
7   -6
Name: 297, dtype: int64
1    2
2   -1
3   -6
4   -1
Name: 298, dtype: int64
1    3
2    1
3    0
4    6
Name: 299, dtype: int64
1   -7
2   -1
3   -1
4   -2
5    2
6   -3
Name: 300, dtype: int64
1    1
2    3
3    3
4    0
5    1
Name: 302, dtype: int64
1   -2
2    3
3    3
4    3
5    7
Name: 303, dtype: int64
1   -2
2   -2
3   -1
4   -3
5   -4
6   -1
Name: 304, dtype: int64
1    1
2    3
3    3
4    2
5    2
6    3
7    5
Name: 305, dtype: int64
1    6
2    3
3    4
4    1
5    1
6    4
Name: 306, dtype: int64
1    0
2    1
3    1
4    1
5    1
6    4
7   -2
Name: 307, dtype: int64
1    1
2   -1
3    2
4    1
Name: 308, dtype: int64
1   -1
2   -3
3   -1
4   -4
5   -7
Name: 309, dtype: int64
1    0
2   -6
3   -3
4   -1
Name: 310, dtype: int64
1    0
2    2
3   -2
4   -3
5   -4
Name: 311, dtype: int64
1   -2
2   -1
3    0
4   -2
5   -3
6   -1
Name: 312, dtype: int64
1    0
2   -5
3   -3
4   -3
5   -4
Name: 313, dtype: int64
1    4
2    4
3    2
4    1
Name: 315, dtype: int64
1    5
2    2
3    2
4    3
5    2
6    4
Name: 316, dtype: int64
1   -4
2   -4
3   -1
4   -3
5   -1
6    1
Name: 317, dtype: int64
1   -5
2    0
3   -1
4   -1
Name: 318, dtype: int64
1    4
2    1
3    1
4    3
5    5
6    1
Name: 319, dtype: int64
1   -3
2    3
3   -2
4    2
Name: 320, dtype: int64
1   -1
2    2
3    6
4    3
5    1
6    0
Name: 322, dtype: int64
1    4
2    3
3    3
4    3
5    4
Name: 323, dtype: int64
1    4
2    2
3    1
4    2
5    1
6    3
7    1
Name: 324, dtype: int64
1    0
2    0
3    1
4   -3
Name: 325, dtype: int64
1   -5
2   -1
3   -1
4   -1
5    0
6    0
Name: 326, dtype: int64
1    1
2   -2
3   -2
4   -1
5   -6
6   -3
7    3
Name: 328, dtype: int64
1    0
2    0
3    3
4    2
5    2
6    2
7    6
Name: 329, dtype: int64
1   -4
2   -1
3   -1
4   -3
5    0
6   -5
Name: 330, dtype: int64
1    1
2    1
3    4
4    3
5    0
Name: 331, dtype: int64
1    7
2    2
3    0
4    1
5    6
Name: 332, dtype: int64
1    0
2    1
3    6
4    3
Name: 333, dtype: int64
1    0
2    2
3    3
4    6
5    4
Name: 335, dtype: int64
1   -3
2   -1
3   -1
4   -2
5   -4
6    0
Name: 336, dtype: int64
1   -4
2   -1
3   -2
4   -1
5   -6
6   -1
7   -5
Name: 337, dtype: int64
1    4
2    3
3    3
4    2
5    6
6    0
Name: 338, dtype: int64
1    1
2    3
3    4
4    2
Name: 339, dtype: int64
1    2
2   -3
3   -1
4   -1
5    1
6   -4
Name: 340, dtype: int64
1   -1
2    2
3    1
4   -3
Name: 341, dtype: int64
1    0
2    1
3    1
4    1
5    5
6    2
7    7
Name: 342, dtype: int64
1    5
2    6
3    1
4   -2
Name: 344, dtype: int64
1    5
2   -2
3    2
4   -1
Name: 345, dtype: int64
1   -6
2    2
3   -3
4   -4
Name: 347, dtype: int64
1   -4
2   -5
3   -3
4    0
Name: 348, dtype: int64
1   -6
2   -3
3   -5
4    2
Name: 349, dtype: int64
1    5
2    1
3    3
4    4
5    1
Name: 350, dtype: int64
1   -3
2    1
3    3
4    2
5    4
Name: 351, dtype: int64
1    4
2    2
3   -2
4    1
5   -2
Name: 352, dtype: int64
1    0
2   -2
3   -3
4    1
5   -3
6   -3
7   -2
Name: 353, dtype: int64
1    0
2   -2
3   -4
4   -1
5   -1
6   -6
Name: 354, dtype: int64
1   -4
2   -3
3   -4
4   -3
5   -2
6   -3
7    0
Name: 355, dtype: int64
1   -6
2   -3
3   -4
4   -3
5   -2
6   -1
7   -3
Name: 357, dtype: int64
1   -7
2   -5
3   -2
4   -3
5    0
Name: 358, dtype: int64
1    1
2    1
3    3
4   -1
5    0
Name: 359, dtype: int64
1   -7
2   -3
3   -2
4   -1
5   -2
6    0
Name: 360, dtype: int64

In [ ]:
# maybe_increasing = []
# maybe_decreasing = []
# still_dirty = []
# counter = 0
# for row in unsafe_list:
#     p2 = row.dropna()
#     if p2.is_monotonic_increasing:
#         maybe_increasing.append(p2)
#     elif p2.is_monotonic_decreasing:
#         maybe_decreasing.append(p2)
#     else:
#         still_dirty.append(p2)

# print(len(still_dirty))

        # clean = p2.diff().dropna().astype('int')
        # maybe_list.append(clean)

170