# Advent of Code Day 2

## Part 1

In [10]:
import pandas as pd

Paste input data into csv file and read into Pandas dataframe then transpose them to switch rows and columns

In [ ]:
df = pd.read_csv('input-day2.csv', sep=' ', header=None, engine='python',)

      0   1   2   3   4     5     6     7
0    22  25  27  28  30  31.0  32.0  29.0
1    72  74  75  77  80  81.0  81.0   NaN
2    52  53  55  58  59  63.0   NaN   NaN
3    14  17  19  22  27   NaN   NaN   NaN
4    65  68  67  68  71  73.0  76.0  77.0
..   ..  ..  ..  ..  ..   ...   ...   ...
995  43  46  49  52  55  56.0  57.0  58.0
996  41  44  47  48  50  53.0   NaN   NaN
997  33  31  28  27  24  22.0  19.0   NaN
998  36  35  32  31  28   NaN   NaN   NaN
999  93  91  90  89  86  85.0  82.0  80.0

[1000 rows x 8 columns]

Iterate through rows and drop NaN values then use .is_monotonic_increasing and .is_monotonic_decreasing with .is_unique to check for strict increasing/decreasing to check the first rule.
If the series passes the first test, check if all absolute values in the series are less than 4. (The strict monotonic check already filtered out any values with a difference of less than 1.)

*I feel like there may be a way to do this in a vectorized way, maybe with apply, but I wasn't sure how to do the extra data cleaning for the processing.*

In [121]:
clean_list = []
for idx, row in df.iterrows():
    p1 = row.dropna()
    if (p1.is_monotonic_increasing and p1.is_unique) or (p1.is_monotonic_decreasing and p1.is_unique):
        clean = p1.diff().dropna().astype('int').abs()
        if clean.lt(4).all():
            clean_list.append(clean)

solution_p1 = len(clean_list)
solution_p1

639

## Part 2

The Problem Dampener is a reactor-mounted module that lets the reactor safety systems tolerate a single bad level in what would otherwise be a safe report. It's like the bad level never happened! Now, the same rules apply as before, except if removing a single level from an unsafe report would make it safe, the report instead counts as safe. Update your analysis by handling situations where the Problem Dampener can remove a single level from unsafe reports. How many reports are now safe?

Run the same report, but append all the unsafe reports to a list for this part. 

Try:
- [X] Groupby then counter to count how many groups are >= 2 counts, if counter is more than 1, it fails
- [ ] Create df of series, column of diffs, and if diff is +/-/0 
- [ ] monotonic without unique

In [ ]:
# Updated from Part 1 to capture unsafe reports
clean_list = []
unsafe_list = []
for idx, row in df.iterrows():
    p1 = row.dropna()
    if (p1.is_monotonic_increasing and p1.is_unique) or (p1.is_monotonic_decreasing and p1.is_unique):
        clean = p1.diff().dropna().astype('int').abs()
        if clean.lt(4).all():
            clean_list.append(clean)
        else:
            unsafe_list.append(p1)
    else:
        unsafe_list.append(p1)

print(len(unsafe_list)) # Checking I captured all the unsafe reports (Should be 361 (1000 - 639)

361

In [158]:
# Groupby
rejected_list = []
r1_list = []
for record in unsafe_list:
    counter = 0
    p2 = record.dropna()
    grouped = p2.groupby(p2).size()
    for i in grouped:
        if i >= 2:
            counter += 1
    if counter > 1:
        rejected_list.append(p2)
    else:
        r1_list.append(p2)

print(len(r1_list))
print(r1_list)

303
[0    22.0
1    25.0
2    27.0
3    28.0
4    30.0
5    31.0
6    32.0
7    29.0
Name: 0, dtype: float64, 0    72.0
1    74.0
2    75.0
3    77.0
4    80.0
5    81.0
6    81.0
Name: 1, dtype: float64, 0    52.0
1    53.0
2    55.0
3    58.0
4    59.0
5    63.0
Name: 2, dtype: float64, 0    14.0
1    17.0
2    19.0
3    22.0
4    27.0
Name: 3, dtype: float64, 0    65.0
1    68.0
2    67.0
3    68.0
4    71.0
5    73.0
6    76.0
7    77.0
Name: 4, dtype: float64, 0    53.0
1    56.0
2    53.0
3    55.0
4    54.0
Name: 5, dtype: float64, 0    60.0
1    62.0
2    59.0
3    62.0
4    62.0
Name: 6, dtype: float64, 0    27.0
1    30.0
2    28.0
3    31.0
4    32.0
5    35.0
6    39.0
Name: 7, dtype: float64, 0    29.0
1    32.0
2    32.0
3    33.0
4    36.0
5    39.0
6    40.0
Name: 9, dtype: float64, 0    72.0
1    74.0
2    74.0
3    75.0
4    74.0
Name: 10, dtype: float64, 0    64.0
1    65.0
2    67.0
3    70.0
4    72.0
5    72.0
6    76.0
Name: 12, dtype: float64, 0    77.0
1    79.0
2    80.0
3    80.0
4    82.0
5    89.0
Name: 13, dtype: float64, 0    45.0
1    47.0
2    49.0
3    53.0
4    54.0
Name: 14, dtype: float64, 0    13.0
1    16.0
2    18.0
3    22.0
4    23.0
5    25.0
6    27.0
7    24.0
Name: 15, dtype: float64, 0    16.0
1    17.0
2    18.0
3    19.0
4    20.0
5    21.0
6    25.0
7    25.0
Name: 16, dtype: float64, 0    25.0
1    26.0
2    30.0
3    32.0
4    34.0
5    35.0
6    36.0
7    40.0
Name: 17, dtype: float64, 0    45.0
1    48.0
2    52.0
3    54.0
4    56.0
5    62.0
Name: 18, dtype: float64, 0    51.0
1    52.0
2    54.0
3    56.0
4    59.0
5    64.0
6    66.0
7    68.0
Name: 19, dtype: float64, 0    14.0
1    16.0
2    17.0
3    22.0
4    23.0
5    22.0
Name: 20, dtype: float64, 0    27.0
1    28.0
2    34.0
3    35.0
4    35.0
Name: 21, dtype: float64, 0    76.0
1    77.0
2    78.0
3    80.0
4    85.0
5    88.0
6    92.0
Name: 22, dtype: float64, 0    72.0
1    74.0
2    79.0
3    80.0
4    81.0
5    88.0
Name: 23, dtype: float64, 0    63.0
1    62.0
2    65.0
3    66.0
4    69.0
5    70.0
6    72.0
Name: 24, dtype: float64, 0    87.0
1    84.0
2    87.0
3    89.0
4    88.0
Name: 25, dtype: float64, 0    41.0
1    40.0
2    42.0
3    43.0
4    45.0
5    46.0
6    46.0
Name: 26, dtype: float64, 0     7.0
1     4.0
2     7.0
3     8.0
4    12.0
Name: 27, dtype: float64, 0    86.0
1    83.0
2    85.0
3    88.0
4    90.0
5    96.0
Name: 28, dtype: float64, 0    78.0
1    77.0
2    80.0
3    79.0
4    80.0
5    82.0
6    86.0
Name: 32, dtype: float64, 0    32.0
1    30.0
2    33.0
3    35.0
4    34.0
5    35.0
6    42.0
Name: 33, dtype: float64, 0    85.0
1    83.0
2    86.0
3    86.0
4    86.0
Name: 36, dtype: float64, 0    3.0
1    1.0
2    1.0
3    2.0
4    4.0
5    8.0
Name: 37, dtype: float64, 0    21.0
1    18.0
2    19.0
3    19.0
4    26.0
Name: 38, dtype: float64, 0    59.0
1    56.0
2    57.0
3    59.0
4    63.0
5    64.0
Name: 39, dtype: float64, 0    48.0
1    45.0
2    47.0
3    48.0
4    52.0
5    53.0
6    50.0
Name: 40, dtype: float64, 0    43.0
1    40.0
2    44.0
3    47.0
4    49.0
5    52.0
6    52.0
Name: 41, dtype: float64, 0    48.0
1    45.0
2    47.0
3    51.0
4    55.0
Name: 42, dtype: float64, 0    54.0
1    51.0
2    52.0
3    54.0
4    57.0
5    58.0
6    62.0
7    67.0
Name: 43, dtype: float64, 0    21.0
1    19.0
2    20.0
3    22.0
4    29.0
5    31.0
Name: 44, dtype: float64, 0    32.0
1    29.0
2    31.0
3    34.0
4    39.0
5    41.0
6    44.0
7    41.0
Name: 45, dtype: float64, 0    47.0
1    46.0
2    48.0
3    49.0
4    54.0
5    57.0
6    57.0
Name: 46, dtype: float64, 0    77.0
1    74.0
2    77.0
3    82.0
4    86.0
Name: 47, dtype: float64, 0    47.0
1    44.0
2    45.0
3    51.0
4    54.0
5    60.0
Name: 48, dtype: float64, 0    55.0
1    55.0
2    57.0
3    58.0
4    59.0
5    62.0
6    65.0
7    68.0
Name: 49, dtype: float64, 0    77.0
1    77.0
2    80.0
3    81.0
4    83.0
5    85.0
6    89.0
Name: 52, dtype: float64, 0    28.0
1    28.0
2    30.0
3    31.0
4    38.0
Name: 53, dtype: float64, 0    88.0
1    88.0
2    89.0
3    88.0
4    90.0
5    93.0
Name: 54, dtype: float64, 0    49.0
1    49.0
2    47.0
3    48.0
4    49.0
5    53.0
Name: 57, dtype: float64, 0    69.0
1    69.0
2    72.0
3    73.0
4    71.0
5    76.0
Name: 58, dtype: float64, 0    43.0
1    43.0
2    46.0
3    47.0
4    51.0
5    52.0
6    54.0
Name: 64, dtype: float64, 0    11.0
1    11.0
2    13.0
3    16.0
4    19.0
5    22.0
6    26.0
7    24.0
Name: 65, dtype: float64, 0    19.0
1    19.0
2    23.0
3    24.0
4    27.0
5    31.0
Name: 67, dtype: float64, 0     8.0
1     8.0
2    10.0
3    12.0
4    15.0
5    19.0
6    26.0
Name: 68, dtype: float64, 0    71.0
1    71.0
2    76.0
3    79.0
4    80.0
Name: 69, dtype: float64, 0    74.0
1    74.0
2    76.0
3    83.0
4    85.0
5    89.0
Name: 72, dtype: float64, 0    65.0
1    65.0
2    67.0
3    73.0
4    74.0
5    75.0
6    78.0
7    85.0
Name: 73, dtype: float64, 0    23.0
1    27.0
2    30.0
3    32.0
4    33.0
Name: 74, dtype: float64, 0    70.0
1    74.0
2    75.0
3    78.0
4    75.0
Name: 75, dtype: float64, 0     7.0
1    11.0
2    12.0
3    13.0
4    14.0
5    17.0
6    17.0
Name: 76, dtype: float64, 0    66.0
1    70.0
2    71.0
3    74.0
4    78.0
Name: 77, dtype: float64, 0    61.0
1    65.0
2    68.0
3    71.0
4    76.0
Name: 78, dtype: float64, 0     1.0
1     5.0
2     4.0
3     7.0
4     9.0
5    10.0
6    11.0
Name: 79, dtype: float64, 0    36.0
1    40.0
2    43.0
3    41.0
4    42.0
5    44.0
6    48.0
Name: 82, dtype: float64, 0    81.0
1    85.0
2    83.0
3    85.0
4    92.0
Name: 83, dtype: float64, 0    69.0
1    73.0
2    73.0
3    75.0
4    78.0
5    81.0
6    82.0
Name: 84, dtype: float64, 0    37.0
1    41.0
2    44.0
3    44.0
4    47.0
5    48.0
6    45.0
Name: 85, dtype: float64, 0    43.0
1    47.0
2    47.0
3    49.0
4    51.0
5    55.0
Name: 87, dtype: float64, 0    36.0
1    40.0
2    40.0
3    41.0
4    42.0
5    49.0
Name: 88, dtype: float64, 0    71.0
1    75.0
2    76.0
3    79.0
4    83.0
5    84.0
6    86.0
7    89.0
Name: 89, dtype: float64, 0    10.0
1    14.0
2    15.0
3    19.0
4    20.0
5    17.0
Name: 90, dtype: float64, 0    15.0
1    19.0
2    21.0
3    25.0
4    25.0
Name: 91, dtype: float64, 0     1.0
1     5.0
2     8.0
3    10.0
4    12.0
5    13.0
6    17.0
7    21.0
Name: 92, dtype: float64, 0    73.0
1    77.0
2    80.0
3    84.0
4    89.0
Name: 93, dtype: float64, 0     7.0
1    11.0
2    14.0
3    17.0
4    18.0
5    25.0
6    27.0
Name: 94, dtype: float64, 0    53.0
1    57.0
2    64.0
3    67.0
4    68.0
5    67.0
Name: 95, dtype: float64, 0    50.0
1    54.0
2    55.0
3    56.0
4    62.0
5    62.0
Name: 96, dtype: float64, 0    31.0
1    35.0
2    36.0
3    39.0
4    42.0
5    48.0
6    51.0
7    55.0
Name: 97, dtype: float64, 0    35.0
1    39.0
2    42.0
3    45.0
4    48.0
5    54.0
6    60.0
Name: 98, dtype: float64, 0    21.0
1    27.0
2    29.0
3    30.0
4    31.0
Name: 99, dtype: float64, 0    40.0
1    47.0
2    48.0
3    50.0
4    48.0
Name: 100, dtype: float64, 0    68.0
1    75.0
2    77.0
3    78.0
4    79.0
5    80.0
6    81.0
7    81.0
Name: 101, dtype: float64, 0    19.0
1    24.0
2    26.0
3    28.0
4    31.0
5    34.0
6    38.0
Name: 102, dtype: float64, 0    72.0
1    79.0
2    82.0
3    85.0
4    92.0
Name: 103, dtype: float64, 0    51.0
1    57.0
2    55.0
3    56.0
4    57.0
5    59.0
6    62.0
7    63.0
Name: 104, dtype: float64, 0    83.0
1    90.0
2    92.0
3    93.0
4    96.0
5    99.0
6    98.0
7    97.0
Name: 105, dtype: float64, 0    10.0
1    16.0
2    14.0
3    16.0
4    16.0
Name: 106, dtype: float64, 0    34.0
1    41.0
2    40.0
3    43.0
4    46.0
5    50.0
Name: 107, dtype: float64, 0    70.0
1    75.0
2    76.0
3    79.0
4    77.0
5    79.0
6    86.0
Name: 108, dtype: float64, 0    42.0
1    47.0
2    47.0
3    50.0
4    53.0
5    55.0
6    56.0
7    58.0
Name: 109, dtype: float64, 0    54.0
1    61.0
2    62.0
3    63.0
4    66.0
5    66.0
6    68.0
7    67.0
Name: 110, dtype: float64, 0    71.0
1    78.0
2    78.0
3    80.0
4    84.0
Name: 112, dtype: float64, 0    78.0
1    84.0
2    86.0
3    89.0
4    89.0
5    92.0
6    98.0
Name: 113, dtype: float64, 0    10.0
1    17.0
2    19.0
3    23.0
4    24.0
5    25.0
Name: 114, dtype: float64, 0    37.0
1    44.0
2    47.0
3    48.0
4    52.0
5    53.0
6    55.0
7    52.0
Name: 115, dtype: float64, 0    74.0
1    79.0
2    80.0
3    81.0
4    82.0
5    86.0
6    87.0
7    87.0
Name: 116, dtype: float64, 0     6.0
1    11.0
2    13.0
3    16.0
4    17.0
5    21.0
6    25.0
Name: 117, dtype: float64, 0    68.0
1    73.0
2    74.0
3    78.0
4    80.0
5    82.0
6    85.0
7    91.0
Name: 118, dtype: float64, 0    35.0
1    41.0
2    44.0
3    49.0
4    50.0
Name: 119, dtype: float64, 0    18.0
1    25.0
2    26.0
3    29.0
4    34.0
5    36.0
6    39.0
7    37.0
Name: 120, dtype: float64, 0    66.0
1    73.0
2    75.0
3    78.0
4    79.0
5    85.0
6    85.0
Name: 121, dtype: float64, 0    61.0
1    67.0
2    69.0
3    75.0
4    79.0
Name: 122, dtype: float64, 0    49.0
1    54.0
2    55.0
3    62.0
4    63.0
5    70.0
Name: 123, dtype: float64, 0    99.0
1    96.0
2    94.0
3    91.0
4    90.0
5    87.0
6    88.0
Name: 124, dtype: float64, 0    85.0
1    84.0
2    81.0
3    80.0
4    79.0
5    78.0
6    78.0
Name: 125, dtype: float64, 0    25.0
1    22.0
2    21.0
3    19.0
4    16.0
5    12.0
Name: 126, dtype: float64, 0    43.0
1    42.0
2    41.0
3    40.0
4    38.0
5    32.0
Name: 127, dtype: float64, 0    31.0
1    29.0
2    31.0
3    28.0
4    25.0
5    21.0
Name: 131, dtype: float64, 0    40.0
1    37.0
2    35.0
3    38.0
4    35.0
5    33.0
6    30.0
7    25.0
Name: 132, dtype: float64, 0    87.0
1    85.0
2    83.0
3    83.0
4    82.0
5    79.0
Name: 133, dtype: float64, 0    73.0
1    72.0
2    71.0
3    71.0
4    71.0
Name: 135, dtype: float64, 0    61.0
1    59.0
2    58.0
3    58.0
4    54.0
Name: 136, dtype: float64, 0    19.0
1    16.0
2    15.0
3    15.0
4    12.0
5    11.0
6     4.0
Name: 137, dtype: float64, 0    46.0
1    43.0
2    40.0
3    39.0
4    38.0
5    34.0
6    33.0
7    30.0
Name: 138, dtype: float64, 0    58.0
1    57.0
2    53.0
3    51.0
4    54.0
Name: 139, dtype: float64, 0    60.0
1    58.0
2    54.0
3    52.0
4    51.0
5    50.0
6    50.0
Name: 140, dtype: float64, 0    51.0
1    50.0
2    46.0
3    44.0
4    42.0
5    38.0
Name: 141, dtype: float64, 0    38.0
1    36.0
2    33.0
3    29.0
4    27.0
5    25.0
6    22.0
7    15.0
Name: 142, dtype: float64, 0    48.0
1    46.0
2    44.0
3    38.0
4    36.0
Name: 143, dtype: float64, 0    40.0
1    39.0
2    37.0
3    35.0
4    34.0
5    29.0
6    26.0
7    28.0
Name: 144, dtype: float64, 0    50.0
1    49.0
2    48.0
3    41.0
4    38.0
5    37.0
6    34.0
7    34.0
Name: 145, dtype: float64, 0    65.0
1    64.0
2    61.0
3    54.0
4    51.0
5    50.0
6    46.0
Name: 146, dtype: float64, 0    22.0
1    20.0
2    17.0
3    14.0
4    13.0
5     8.0
6     1.0
Name: 147, dtype: float64, 0    83.0
1    84.0
2    82.0
3    80.0
4    78.0
5    75.0
6    74.0
Name: 148, dtype: float64, 0    14.0
1    16.0
2    13.0
3    10.0
4     9.0
5     6.0
6     8.0
Name: 149, dtype: float64, 0    26.0
1    29.0
2    28.0
3    25.0
4    22.0
5    20.0
6    17.0
7    17.0
Name: 150, dtype: float64, 0    12.0
1    14.0
2    11.0
3     9.0
4     7.0
5     3.0
Name: 151, dtype: float64, 0    67.0
1    69.0
2    67.0
3    65.0
4    59.0
Name: 152, dtype: float64, 0     9.0
1    10.0
2    13.0
3    11.0
4     9.0
5     8.0
Name: 153, dtype: float64, 0    15.0
1    18.0
2    17.0
3    19.0
4    18.0
5    20.0
Name: 154, dtype: float64, 0    39.0
1    40.0
2    37.0
3    39.0
4    39.0
Name: 155, dtype: float64, 0    31.0
1    34.0
2    31.0
3    31.0
4    28.0
Name: 158, dtype: float64, 0    53.0
1    56.0
2    53.0
3    53.0
4    52.0
5    48.0
Name: 161, dtype: float64, 0    43.0
1    45.0
2    45.0
3    42.0
4    37.0
Name: 162, dtype: float64, 0    23.0
1    26.0
2    22.0
3    20.0
4    18.0
5    16.0
6    13.0
Name: 163, dtype: float64, 0    32.0
1    33.0
2    31.0
3    29.0
4    26.0
5    23.0
6    19.0
7    20.0
Name: 164, dtype: float64, 0    41.0
1    43.0
2    42.0
3    40.0
4    36.0
5    36.0
Name: 165, dtype: float64, 0    49.0
1    51.0
2    49.0
3    47.0
4    43.0
5    39.0
Name: 166, dtype: float64, 0    15.0
1    17.0
2    15.0
3    11.0
4    10.0
5     5.0
Name: 167, dtype: float64, 0    71.0
1    74.0
2    69.0
3    67.0
4    66.0
Name: 168, dtype: float64, 0    51.0
1    54.0
2    49.0
3    47.0
4    44.0
5    46.0
Name: 169, dtype: float64, 0    76.0
1    78.0
2    75.0
3    73.0
4    66.0
5    66.0
Name: 170, dtype: float64, 0    74.0
1    75.0
2    68.0
3    66.0
4    63.0
5    61.0
6    57.0
Name: 171, dtype: float64, 0    94.0
1    95.0
2    92.0
3    86.0
4    85.0
5    78.0
Name: 172, dtype: float64, 0    51.0
1    51.0
2    48.0
3    45.0
4    44.0
Name: 173, dtype: float64, 0    15.0
1    15.0
2    14.0
3    12.0
4     8.0
Name: 176, dtype: float64, 0    50.0
1    50.0
2    47.0
3    45.0
4    44.0
5    41.0
6    35.0
Name: 177, dtype: float64, 0    88.0
1    88.0
2    89.0
3    87.0
4    85.0
5    83.0
6    82.0
Name: 178, dtype: float64, 0    42.0
1    42.0
2    39.0
3    41.0
4    42.0
Name: 179, dtype: float64, 0    91.0
1    91.0
2    90.0
3    88.0
4    91.0
5    91.0
Name: 180, dtype: float64, 0    50.0
1    50.0
2    48.0
3    46.0
4    47.0
5    44.0
6    43.0
7    37.0
Name: 182, dtype: float64, 0    6.0
1    6.0
2    6.0
3    5.0
4    7.0
Name: 184, dtype: float64, 0    15.0
1    15.0
2    15.0
3    12.0
4     5.0
Name: 187, dtype: float64, 0    38.0
1    38.0
2    37.0
3    35.0
4    31.0
5    28.0
6    27.0
7    25.0
Name: 188, dtype: float64, 0    27.0
1    27.0
2    25.0
3    22.0
4    18.0
5    20.0
Name: 189, dtype: float64, 0    34.0
1    34.0
2    31.0
3    27.0
4    23.0
Name: 191, dtype: float64, 0    16.0
1    16.0
2    15.0
3    11.0
4     4.0
Name: 192, dtype: float64, 0    50.0
1    50.0
2    43.0
3    41.0
4    40.0
Name: 193, dtype: float64, 0    67.0
1    67.0
2    64.0
3    63.0
4    57.0
5    59.0
Name: 194, dtype: float64, 0    21.0
1    21.0
2    18.0
3    12.0
4    10.0
5     9.0
6     5.0
Name: 196, dtype: float64, 0    73.0
1    73.0
2    68.0
3    67.0
4    64.0
5    57.0
Name: 197, dtype: float64, 0    97.0
1    93.0
2    92.0
3    90.0
4    88.0
5    87.0
6    84.0
Name: 198, dtype: float64, 0    17.0
1    13.0
2    10.0
3     7.0
4     4.0
5     7.0
Name: 199, dtype: float64, 0    78.0
1    74.0
2    71.0
3    68.0
4    68.0
Name: 200, dtype: float64, 0    51.0
1    47.0
2    45.0
3    42.0
4    40.0
5    38.0
6    34.0
Name: 201, dtype: float64, 0    26.0
1    22.0
2    21.0
3    20.0
4    14.0
Name: 202, dtype: float64, 0    95.0
1    91.0
2    92.0
3    90.0
4    87.0
Name: 203, dtype: float64, 0    38.0
1    34.0
2    32.0
3    31.0
4    33.0
5    35.0
Name: 204, dtype: float64, 0    55.0
1    51.0
2    48.0
3    49.0
4    47.0
5    46.0
6    46.0
Name: 205, dtype: float64, 0    79.0
1    75.0
2    72.0
3    69.0
4    71.0
5    69.0
6    65.0
Name: 206, dtype: float64, 0    70.0
1    66.0
2    64.0
3    63.0
4    66.0
5    61.0
Name: 207, dtype: float64, 0    45.0
1    41.0
2    41.0
3    40.0
4    38.0
Name: 208, dtype: float64, 0    32.0
1    28.0
2    26.0
3    24.0
4    24.0
5    20.0
Name: 211, dtype: float64, 0    90.0
1    86.0
2    86.0
3    85.0
4    79.0
Name: 212, dtype: float64, 0    80.0
1    76.0
2    73.0
3    71.0
4    67.0
5    66.0
Name: 213, dtype: float64, 0    31.0
1    27.0
2    23.0
3    20.0
4    18.0
5    20.0
Name: 214, dtype: float64, 0    72.0
1    68.0
2    66.0
3    64.0
4    60.0
5    59.0
6    56.0
7    56.0
Name: 215, dtype: float64, 0    20.0
1    16.0
2    12.0
3    10.0
4     6.0
Name: 216, dtype: float64, 0    72.0
1    68.0
2    67.0
3    63.0
4    60.0
5    59.0
6    53.0
Name: 217, dtype: float64, 0    92.0
1    88.0
2    85.0
3    84.0
4    78.0
5    75.0
6    73.0
Name: 218, dtype: float64, 0    36.0
1    32.0
2    30.0
3    24.0
4    23.0
5    20.0
6    21.0
Name: 219, dtype: float64, 0    75.0
1    71.0
2    69.0
3    66.0
4    63.0
5    57.0
6    55.0
7    55.0
Name: 220, dtype: float64, 0    98.0
1    94.0
2    92.0
3    86.0
4    85.0
5    81.0
Name: 221, dtype: float64, 0    74.0
1    70.0
2    67.0
3    60.0
4    57.0
5    55.0
6    52.0
7    47.0
Name: 222, dtype: float64, 0    48.0
1    42.0
2    39.0
3    38.0
4    37.0
5    34.0
6    31.0
7    30.0
Name: 223, dtype: float64, 0    88.0
1    83.0
2    81.0
3    78.0
4    76.0
5    77.0
Name: 224, dtype: float64, 0    15.0
1     8.0
2     5.0
3     2.0
4     1.0
5     1.0
Name: 225, dtype: float64, 0    75.0
1    70.0
2    69.0
3    67.0
4    65.0
5    63.0
6    59.0
Name: 226, dtype: float64, 0    69.0
1    64.0
2    61.0
3    60.0
4    57.0
5    56.0
6    49.0
Name: 227, dtype: float64, 0    60.0
1    55.0
2    56.0
3    54.0
4    52.0
5    49.0
6    47.0
7    49.0
Name: 229, dtype: float64, 0    64.0
1    58.0
2    57.0
3    58.0
4    58.0
Name: 230, dtype: float64, 0    82.0
1    75.0
2    72.0
3    71.0
4    72.0
5    70.0
6    67.0
7    63.0
Name: 231, dtype: float64, 0    26.0
1    19.0
2    16.0
3    19.0
4    17.0
5    15.0
6     9.0
Name: 232, dtype: float64, 0    26.0
1    20.0
2    18.0
3    15.0
4    15.0
5    12.0
Name: 233, dtype: float64, 0    54.0
1    49.0
2    46.0
3    45.0
4    45.0
5    44.0
6    47.0
Name: 234, dtype: float64, 0    22.0
1    16.0
2    15.0
3    15.0
4    11.0
Name: 236, dtype: float64, 0    74.0
1    69.0
2    67.0
3    67.0
4    61.0
Name: 237, dtype: float64, 0    76.0
1    70.0
2    66.0
3    63.0
4    60.0
Name: 238, dtype: float64, 0    18.0
1    13.0
2    12.0
3    10.0
4     7.0
5     5.0
6     1.0
7     3.0
Name: 239, dtype: float64, 0    48.0
1    41.0
2    37.0
3    36.0
4    35.0
5    32.0
6    32.0
Name: 240, dtype: float64, 0    52.0
1    47.0
2    46.0
3    42.0
4    41.0
5    40.0
6    36.0
Name: 241, dtype: float64, 0    84.0
1    79.0
2    76.0
3    73.0
4    69.0
5    67.0
6    65.0
7    60.0
Name: 242, dtype: float64, 0    51.0
1    46.0
2    43.0
3    37.0
4    35.0
5    34.0
Name: 243, dtype: float64, 0    28.0
1    22.0
2    21.0
3    19.0
4    14.0
5    16.0
Name: 244, dtype: float64, 0    32.0
1    27.0
2    26.0
3    19.0
4    19.0
Name: 245, dtype: float64, 0    93.0
1    88.0
2    85.0
3    83.0
4    76.0
5    72.0
Name: 246, dtype: float64, 0    53.0
1    47.0
2    44.0
3    37.0
4    30.0
Name: 247, dtype: float64, 0     5.0
1     7.0
2     8.0
3    11.0
4    11.0
5    15.0
Name: 248, dtype: float64, 0    25.0
1    24.0
2    27.0
3    27.0
4    26.0
Name: 249, dtype: float64, 0    84.0
1    86.0
2    85.0
3    84.0
4    80.0
5    79.0
6    77.0
Name: 250, dtype: float64, 0    44.0
1    45.0
2    43.0
3    40.0
4    37.0
5    33.0
Name: 251, dtype: float64, 0    17.0
1    14.0
2    16.0
3    13.0
4     6.0
Name: 252, dtype: float64, 0    27.0
1    27.0
2    34.0
3    36.0
4    39.0
5    42.0
6    40.0
Name: 253, dtype: float64, 0    36.0
1    42.0
2    45.0
3    46.0
4    51.0
Name: 254, dtype: float64, 0    61.0
1    54.0
2    53.0
3    50.0
4    48.0
Name: 255, dtype: float64, 0    58.0
1    58.0
2    60.0
3    64.0
4    65.0
5    68.0
6    72.0
Name: 256, dtype: float64, 0    75.0
1    78.0
2    77.0
3    74.0
4    74.0
Name: 257, dtype: float64, 0    55.0
1    55.0
2    52.0
3    49.0
4    43.0
5    41.0
6    36.0
Name: 259, dtype: float64, 0    84.0
1    83.0
2    80.0
3    81.0
4    80.0
Name: 260, dtype: float64, 0    69.0
1    73.0
2    74.0
3    76.0
4    75.0
5    79.0
Name: 261, dtype: float64, 0    87.0
1    80.0
2    82.0
3    79.0
4    79.0
Name: 262, dtype: float64, 0    48.0
1    51.0
2    50.0
3    53.0
4    55.0
5    53.0
Name: 263, dtype: float64, 0    83.0
1    80.0
2    82.0
3    88.0
4    93.0
Name: 264, dtype: float64, 0    74.0
1    74.0
2    73.0
3    70.0
4    68.0
5    67.0
6    63.0
Name: 265, dtype: float64, 0    66.0
1    65.0
2    66.0
3    67.0

In [166]:
# Checking Diffs
for record in r1_list:
    p3 = record.diff().dropna().astype('int')
    print(p3)

1    3
2    2
3    1
4    2
5    1
6    1
7   -3
Name: 0, dtype: int64
1    2
2    1
3    2
4    3
5    1
6    0
Name: 1, dtype: int64
1    1
2    2
3    3
4    1
5    4
Name: 2, dtype: int64
1    3
2    2
3    3
4    5
Name: 3, dtype: int64
1    3
2   -1
3    1
4    3
5    2
6    3
7    1
Name: 4, dtype: int64
1    3
2   -3
3    2
4   -1
Name: 5, dtype: int64
1    2
2   -3
3    3
4    0
Name: 6, dtype: int64
1    3
2   -2
3    3
4    1
5    3
6    4
Name: 7, dtype: int64
1    3
2    0
3    1
4    3
5    3
6    1
Name: 9, dtype: int64
1    2
2    0
3    1
4   -1
Name: 10, dtype: int64
1    1
2    2
3    3
4    2
5    0
6    4
Name: 12, dtype: int64
1    2
2    1
3    0
4    2
5    7
Name: 13, dtype: int64
1    2
2    2
3    4
4    1
Name: 14, dtype: int64
1    3
2    2
3    4
4    1
5    2
6    2
7   -3
Name: 15, dtype: int64
1    1
2    1
3    1
4    1
5    1
6    4
7    0
Name: 16, dtype: int64
1    1
2    4
3    2
4    2
5    1
6    1
7    4
Name: 17, dtype: int64
1    3
2    4
3    2
4    2
5    6
Name: 18, dtype: int64
1    1
2    2
3    2
4    3
5    5
6    2
7    2
Name: 19, dtype: int64
1    2
2    1
3    5
4    1
5   -1
Name: 20, dtype: int64
1    1
2    6
3    1
4    0
Name: 21, dtype: int64
1    1
2    1
3    2
4    5
5    3
6    4
Name: 22, dtype: int64
1    2
2    5
3    1
4    1
5    7
Name: 23, dtype: int64
1   -1
2    3
3    1
4    3
5    1
6    2
Name: 24, dtype: int64
1   -3
2    3
3    2
4   -1
Name: 25, dtype: int64
1   -1
2    2
3    1
4    2
5    1
6    0
Name: 26, dtype: int64
1   -3
2    3
3    1
4    4
Name: 27, dtype: int64
1   -3
2    2
3    3
4    2
5    6
Name: 28, dtype: int64
1   -1
2    3
3   -1
4    1
5    2
6    4
Name: 32, dtype: int64
1   -2
2    3
3    2
4   -1
5    1
6    7
Name: 33, dtype: int64
1   -2
2    3
3    0
4    0
Name: 36, dtype: int64
1   -2
2    0
3    1
4    2
5    4
Name: 37, dtype: int64
1   -3
2    1
3    0
4    7
Name: 38, dtype: int64
1   -3
2    1
3    2
4    4
5    1
Name: 39, dtype: int64
1   -3
2    2
3    1
4    4
5    1
6   -3
Name: 40, dtype: int64
1   -3
2    4
3    3
4    2
5    3
6    0
Name: 41, dtype: int64
1   -3
2    2
3    4
4    4
Name: 42, dtype: int64
1   -3
2    1
3    2
4    3
5    1
6    4
7    5
Name: 43, dtype: int64
1   -2
2    1
3    2
4    7
5    2
Name: 44, dtype: int64
1   -3
2    2
3    3
4    5
5    2
6    3
7   -3
Name: 45, dtype: int64
1   -1
2    2
3    1
4    5
5    3
6    0
Name: 46, dtype: int64
1   -3
2    3
3    5
4    4
Name: 47, dtype: int64
1   -3
2    1
3    6
4    3
5    6
Name: 48, dtype: int64
1    0
2    2
3    1
4    1
5    3
6    3
7    3
Name: 49, dtype: int64
1    0
2    3
3    1
4    2
5    2
6    4
Name: 52, dtype: int64
1    0
2    2
3    1
4    7
Name: 53, dtype: int64
1    0
2    1
3   -1
4    2
5    3
Name: 54, dtype: int64
1    0
2   -2
3    1
4    1
5    4
Name: 57, dtype: int64
1    0
2    3
3    1
4   -2
5    5
Name: 58, dtype: int64
1    0
2    3
3    1
4    4
5    1
6    2
Name: 64, dtype: int64
1    0
2    2
3    3
4    3
5    3
6    4
7   -2
Name: 65, dtype: int64
1    0
2    4
3    1
4    3
5    4
Name: 67, dtype: int64
1    0
2    2
3    2
4    3
5    4
6    7
Name: 68, dtype: int64
1    0
2    5
3    3
4    1
Name: 69, dtype: int64
1    0
2    2
3    7
4    2
5    4
Name: 72, dtype: int64
1    0
2    2
3    6
4    1
5    1
6    3
7    7
Name: 73, dtype: int64
1    4
2    3
3    2
4    1
Name: 74, dtype: int64
1    4
2    1
3    3
4   -3
Name: 75, dtype: int64
1    4
2    1
3    1
4    1
5    3
6    0
Name: 76, dtype: int64
1    4
2    1
3    3
4    4
Name: 77, dtype: int64
1    4
2    3
3    3
4    5
Name: 78, dtype: int64
1    4
2   -1
3    3
4    2
5    1
6    1
Name: 79, dtype: int64
1    4
2    3
3   -2
4    1
5    2
6    4
Name: 82, dtype: int64
1    4
2   -2
3    2
4    7
Name: 83, dtype: int64
1    4
2    0
3    2
4    3
5    3
6    1
Name: 84, dtype: int64
1    4
2    3
3    0
4    3
5    1
6   -3
Name: 85, dtype: int64
1    4
2    0
3    2
4    2
5    4
Name: 87, dtype: int64
1    4
2    0
3    1
4    1
5    7
Name: 88, dtype: int64
1    4
2    1
3    3
4    4
5    1
6    2
7    3
Name: 89, dtype: int64
1    4
2    1
3    4
4    1
5   -3
Name: 90, dtype: int64
1    4
2    2
3    4
4    0
Name: 91, dtype: int64
1    4
2    3
3    2
4    2
5    1
6    4
7    4
Name: 92, dtype: int64
1    4
2    3
3    4
4    5
Name: 93, dtype: int64
1    4
2    3
3    3
4    1
5    7
6    2
Name: 94, dtype: int64
1    4
2    7
3    3
4    1
5   -1
Name: 95, dtype: int64
1    4
2    1
3    1
4    6
5    0
Name: 96, dtype: int64
1    4
2    1
3    3
4    3
5    6
6    3
7    4
Name: 97, dtype: int64
1    4
2    3
3    3
4    3
5    6
6    6
Name: 98, dtype: int64
1    6
2    2
3    1
4    1
Name: 99, dtype: int64
1    7
2    1
3    2
4   -2
Name: 100, dtype: int64
1    7
2    2
3    1
4    1
5    1
6    1
7    0
Name: 101, dtype: int64
1    5
2    2
3    2
4    3
5    3
6    4
Name: 102, dtype: int64
1    7
2    3
3    3
4    7
Name: 103, dtype: int64
1    6
2   -2
3    1
4    1
5    2
6    3
7    1
Name: 104, dtype: int64
1    7
2    2
3    1
4    3
5    3
6   -1
7   -1
Name: 105, dtype: int64
1    6
2   -2
3    2
4    0
Name: 106, dtype: int64
1    7
2   -1
3    3
4    3
5    4
Name: 107, dtype: int64
1    5
2    1
3    3
4   -2
5    2
6    7
Name: 108, dtype: int64
1    5
2    0
3    3
4    3
5    2
6    1
7    2
Name: 109, dtype: int64
1    7
2    1
3    1
4    3
5    0
6    2
7   -1
Name: 110, dtype: int64
1    7
2    0
3    2
4    4
Name: 112, dtype: int64
1    6
2    2
3    3
4    0
5    3
6    6
Name: 113, dtype: int64
1    7
2    2
3    4
4    1
5    1
Name: 114, dtype: int64
1    7
2    3
3    1
4    4
5    1
6    2
7   -3
Name: 115, dtype: int64
1    5
2    1
3    1
4    1
5    4
6    1
7    0
Name: 116, dtype: int64
1    5
2    2
3    3
4    1
5    4
6    4
Name: 117, dtype: int64
1    5
2    1
3    4
4    2
5    2
6    3
7    6
Name: 118, dtype: int64
1    6
2    3
3    5
4    1
Name: 119, dtype: int64
1    7
2    1
3    3
4    5
5    2
6    3
7   -2
Name: 120, dtype: int64
1    7
2    2
3    3
4    1
5    6
6    0
Name: 121, dtype: int64
1    6
2    2
3    6
4    4
Name: 122, dtype: int64
1    5
2    1
3    7
4    1
5    7
Name: 123, dtype: int64
1   -3
2   -2
3   -3
4   -1
5   -3
6    1
Name: 124, dtype: int64
1   -1
2   -3
3   -1
4   -1
5   -1
6    0
Name: 125, dtype: int64
1   -3
2   -1
3   -2
4   -3
5   -4
Name: 126, dtype: int64
1   -1
2   -1
3   -1
4   -2
5   -6
Name: 127, dtype: int64
1   -2
2    2
3   -3
4   -3
5   -4
Name: 131, dtype: int64
1   -3
2   -2
3    3
4   -3
5   -2
6   -3
7   -5
Name: 132, dtype: int64
1   -2
2   -2
3    0
4   -1
5   -3
Name: 133, dtype: int64
1   -1
2   -1
3    0
4    0
Name: 135, dtype: int64
1   -2
2   -1
3    0
4   -4
Name: 136, dtype: int64
1   -3
2   -1
3    0
4   -3
5   -1
6   -7
Name: 137, dtype: int64
1   -3
2   -3
3   -1
4   -1
5   -4
6   -1
7   -3
Name: 138, dtype: int64
1   -1
2   -4
3   -2
4    3
Name: 139, dtype: int64
1   -2
2   -4
3   -2
4   -1
5   -1
6    0
Name: 140, dtype: int64
1   -1
2   -4
3   -2
4   -2
5   -4
Name: 141, dtype: int64
1   -2
2   -3
3   -4
4   -2
5   -2
6   -3
7   -7
Name: 142, dtype: int64
1   -2
2   -2
3   -6
4   -2
Name: 143, dtype: int64
1   -1
2   -2
3   -2
4   -1
5   -5
6   -3
7    2
Name: 144, dtype: int64
1   -1
2   -1
3   -7
4   -3
5   -1
6   -3
7    0
Name: 145, dtype: int64
1   -1
2   -3
3   -7
4   -3
5   -1
6   -4
Name: 146, dtype: int64
1   -2
2   -3
3   -3
4   -1
5   -5
6   -7
Name: 147, dtype: int64
1    1
2   -2
3   -2
4   -2
5   -3
6   -1
Name: 148, dtype: int64
1    2
2   -3
3   -3
4   -1
5   -3
6    2
Name: 149, dtype: int64
1    3
2   -1
3   -3
4   -3
5   -2
6   -3
7    0
Name: 150, dtype: int64
1    2
2   -3
3   -2
4   -2
5   -4
Name: 151, dtype: int64
1    2
2   -2
3   -2
4   -6
Name: 152, dtype: int64
1    1
2    3
3   -2
4   -2
5   -1
Name: 153, dtype: int64
1    3
2   -1
3    2
4   -1
5    2
Name: 154, dtype: int64
1    1
2   -3
3    2
4    0
Name: 155, dtype: int64
1    3
2   -3
3    0
4   -3
Name: 158, dtype: int64
1    3
2   -3
3    0
4   -1
5   -4
Name: 161, dtype: int64
1    2
2    0
3   -3
4   -5
Name: 162, dtype: int64
1    3
2   -4
3   -2
4   -2
5   -2
6   -3
Name: 163, dtype: int64
1    1
2   -2
3   -2
4   -3
5   -3
6   -4
7    1
Name: 164, dtype: int64
1    2
2   -1
3   -2
4   -4
5    0
Name: 165, dtype: int64
1    2
2   -2
3   -2
4   -4
5   -4
Name: 166, dtype: int64
1    2
2   -2
3   -4
4   -1
5   -5
Name: 167, dtype: int64
1    3
2   -5
3   -2
4   -1
Name: 168, dtype: int64
1    3
2   -5
3   -2
4   -3
5    2
Name: 169, dtype: int64
1    2
2   -3
3   -2
4   -7
5    0
Name: 170, dtype: int64
1    1
2   -7
3   -2
4   -3
5   -2
6   -4
Name: 171, dtype: int64
1    1
2   -3
3   -6
4   -1
5   -7
Name: 172, dtype: int64
1    0
2   -3
3   -3
4   -1
Name: 173, dtype: int64
1    0
2   -1
3   -2
4   -4
Name: 176, dtype: int64
1    0
2   -3
3   -2
4   -1
5   -3
6   -6
Name: 177, dtype: int64
1    0
2    1
3   -2
4   -2
5   -2
6   -1
Name: 178, dtype: int64
1    0
2   -3
3    2
4    1
Name: 179, dtype: int64
1    0
2   -1
3   -2
4    3
5    0
Name: 180, dtype: int64
1    0
2   -2
3   -2
4    1
5   -3
6   -1
7   -6
Name: 182, dtype: int64
1    0
2    0
3   -1
4    2
Name: 184, dtype: int64
1    0
2    0
3   -3
4   -7
Name: 187, dtype: int64
1    0
2   -1
3   -2
4   -4
5   -3
6   -1
7   -2
Name: 188, dtype: int64
1    0
2   -2
3   -3
4   -4
5    2
Name: 189, dtype: int64
1    0
2   -3
3   -4
4   -4
Name: 191, dtype: int64
1    0
2   -1
3   -4
4   -7
Name: 192, dtype: int64
1    0
2   -7
3   -2
4   -1
Name: 193, dtype: int64
1    0
2   -3
3   -1
4   -6
5    2
Name: 194, dtype: int64
1    0
2   -3
3   -6
4   -2
5   -1
6   -4
Name: 196, dtype: int64
1    0
2   -5
3   -1
4   -3
5   -7
Name: 197, dtype: int64
1   -4
2   -1
3   -2
4   -2
5   -1
6   -3
Name: 198, dtype: int64
1   -4
2   -3
3   -3
4   -3
5    3
Name: 199, dtype: int64
1   -4
2   -3
3   -3
4    0
Name: 200, dtype: int64
1   -4
2   -2
3   -3
4   -2
5   -2
6   -4
Name: 201, dtype: int64
1   -4
2   -1
3   -1
4   -6
Name: 202, dtype: int64
1   -4
2    1
3   -2
4   -3
Name: 203, dtype: int64
1   -4
2   -2
3   -1
4    2
5    2
Name: 204, dtype: int64
1   -4
2   -3
3    1
4   -2
5   -1
6    0
Name: 205, dtype: int64
1   -4
2   -3
3   -3
4    2
5   -2
6   -4
Name: 206, dtype: int64
1   -4
2   -2
3   -1
4    3
5   -5
Name: 207, dtype: int64
1   -4
2    0
3   -1
4   -2
Name: 208, dtype: int64
1   -4
2   -2
3   -2
4    0
5   -4
Name: 211, dtype: int64
1   -4
2    0
3   -1
4   -6
Name: 212, dtype: int64
1   -4
2   -3
3   -2
4   -4
5   -1
Name: 213, dtype: int64
1   -4
2   -4
3   -3
4   -2
5    2
Name: 214, dtype: int64
1   -4
2   -2
3   -2
4   -4
5   -1
6   -3
7    0
Name: 215, dtype: int64
1   -4
2   -4
3   -2
4   -4
Name: 216, dtype: int64
1   -4
2   -1
3   -4
4   -3
5   -1
6   -6
Name: 217, dtype: int64
1   -4
2   -3
3   -1
4   -6
5   -3
6   -2
Name: 218, dtype: int64
1   -4
2   -2
3   -6
4   -1
5   -3
6    1
Name: 219, dtype: int64
1   -4
2   -2
3   -3
4   -3
5   -6
6   -2
7    0
Name: 220, dtype: int64
1   -4
2   -2
3   -6
4   -1
5   -4
Name: 221, dtype: int64
1   -4
2   -3
3   -7
4   -3
5   -2
6   -3
7   -5
Name: 222, dtype: int64
1   -6
2   -3
3   -1
4   -1
5   -3
6   -3
7   -1
Name: 223, dtype: int64
1   -5
2   -2
3   -3
4   -2
5    1
Name: 224, dtype: int64
1   -7
2   -3
3   -3
4   -1
5    0
Name: 225, dtype: int64
1   -5
2   -1
3   -2
4   -2
5   -2
6   -4
Name: 226, dtype: int64
1   -5
2   -3
3   -1
4   -3
5   -1
6   -7
Name: 227, dtype: int64
1   -5
2    1
3   -2
4   -2
5   -3
6   -2
7    2
Name: 229, dtype: int64
1   -6
2   -1
3    1
4    0
Name: 230, dtype: int64
1   -7
2   -3
3   -1
4    1
5   -2
6   -3
7   -4
Name: 231, dtype: int64
1   -7
2   -3
3    3
4   -2
5   -2
6   -6
Name: 232, dtype: int64
1   -6
2   -2
3   -3
4    0
5   -3
Name: 233, dtype: int64
1   -5
2   -3
3   -1
4    0
5   -1
6    3
Name: 234, dtype: int64
1   -6
2   -1
3    0
4   -4
Name: 236, dtype: int64
1   -5
2   -2
3    0
4   -6
Name: 237, dtype: int64
1   -6
2   -4
3   -3
4   -3
Name: 238, dtype: int64
1   -5
2   -1
3   -2
4   -3
5   -2
6   -4
7    2
Name: 239, dtype: int64
1   -7
2   -4
3   -1
4   -1
5   -3
6    0
Name: 240, dtype: int64
1   -5
2   -1
3   -4
4   -1
5   -1
6   -4
Name: 241, dtype: int64
1   -5
2   -3
3   -3
4   -4
5   -2
6   -2
7   -5
Name: 242, dtype: int64
1   -5
2   -3
3   -6
4   -2
5   -1
Name: 243, dtype: int64
1   -6
2   -1
3   -2
4   -5
5    2
Name: 244, dtype: int64
1   -5
2   -1
3   -7
4    0
Name: 245, dtype: int64
1   -5
2   -3
3   -2
4   -7
5   -4
Name: 246, dtype: int64
1   -6
2   -3
3   -7
4   -7
Name: 247, dtype: int64
1    2
2    1
3    3
4    0
5    4
Name: 248, dtype: int64
1   -1
2    3
3    0
4   -1
Name: 249, dtype: int64
1    2
2   -1
3   -1
4   -4
5   -1
6   -2
Name: 250, dtype: int64
1    1
2   -2
3   -3
4   -3
5   -4
Name: 251, dtype: int64
1   -3
2    2
3   -3
4   -7
Name: 252, dtype: int64
1    0
2    7
3    2
4    3
5    3
6   -2
Name: 253, dtype: int64
1    6
2    3
3    1
4    5
Name: 254, dtype: int64
1   -7
2   -1
3   -3
4   -2
Name: 255, dtype: int64
1    0
2    2
3    4
4    1
5    3
6    4
Name: 256, dtype: int64
1    3
2   -1
3   -3
4    0
Name: 257, dtype: int64
1    0
2   -3
3   -3
4   -6
5   -2
6   -5
Name: 259, dtype: int64
1   -1
2   -3
3    1
4   -1
Name: 260, dtype: int64
1    4
2    1
3    2
4   -1
5    4
Name: 261, dtype: int64
1   -7
2    2
3   -3
4    0
Name: 262, dtype: int64
1    3
2   -1
3    3
4    2
5   -2
Name: 263, dtype: int64
1   -3
2    2
3    6
4    5
Name: 264, dtype: int64
1    0
2   -1
3   -3
4   -2
5   -1
6   -4
Name: 265, dtype: int64
1   -1
2    1
3    1
4    3
5    4
6    3
Name: 266, dtype: int64
1    0
2   -3
3   -2
4   -3
5   -3
6   -1
7   -1
Name: 267, dtype: int64
1    0
2    4
3    2
4    1
Name: 269, dtype: int64
1    7
2    4
3    3
4    2
5    0
Name: 272, dtype: int64
1    4
2    1
3    5
4   -1
Name: 273, dtype: int64
1    6
2    2
3    2
4    1
5    1
6    1
Name: 274, dtype: int64
1    1
2   -3
3   -2
4   -3
5    1
Name: 275, dtype: int64
1   -7
2   -3
3   -1
4   -4
Name: 276, dtype: int64
1    4
2    2
3   -1
4    5
Name: 277, dtype: int64
1   -4
2    0
3   -2
4   -1
5   -3
6   -1
7   -4
Name: 279, dtype: int64
1    0
2    0
3   -1
4   -4
Name: 280, dtype: int64
1   -4
2   -4
3   -1
4   -3
5   -2
6   -3
Name: 281, dtype: int64
1   -1
2   -2
3   -3
4   -3
5   -3
6   -7
Name: 282, dtype: int64
1    3
2    3
3    4
4    3
5    2
6    2
7    7
Name: 283, dtype: int64
1    2
2    2
3    2
4    5
5    1
6    3
7    1
Name: 284, dtype: int64
1   -4
2    2
3   -1
4   -2
5   -3
6   -4
Name: 286, dtype: int64
1    7
2    3
3    3
4    3
5    3
6    0
Name: 287, dtype: int64
1   -2
2   -5
3   -3
4   -2
5   -2
Name: 288, dtype: int64
1   -4
2   -1
3   -6
4   -2
5    3
Name: 289, dtype: int64
1   -1
2   -2
3    1
4    1
5    2
6    4
Name: 290, dtype: int64
1    3
2    1
3    1
4    4
5   -3
Name: 291, dtype: int64
1   -1
2   -1
3   -1
4    0
5   -1
6   -7
Name: 293, dtype: int64
1    0
2    3
3    1
4    3
5    2
6    1
Name: 294, dtype: int64
1    4
2    4
3    1
4    4
Name: 295, dtype: int64
1   -5
2   -4
3   -1
4   -3
5   -3
6   -2
7    1
Name: 296, dtype: int64
1   -7
2   -2
3   -2
4   -1
5   -4
6   -3
7   -6
Name: 297, dtype: int64
1    2
2   -1
3   -6
4   -1
Name: 298, dtype: int64
1    3
2    1
3    0
4    6
Name: 299, dtype: int64
1   -7
2   -1
3   -1
4   -2
5    2
6   -3
Name: 300, dtype: int64
1    1
2    3
3    3
4    0
5    1
Name: 302, dtype: int64
1   -2
2    3
3    3
4    3
5    7
Name: 303, dtype: int64
1   -2
2   -2
3   -1
4   -3
5   -4
6   -1
Name: 304, dtype: int64
1    1
2    3
3    3
4    2
5    2
6    3
7    5
Name: 305, dtype: int64
1    6
2    3
3    4
4    1
5    1
6    4
Name: 306, dtype: int64
1    0
2    1
3    1
4    1
5    1
6    4
7   -2
Name: 307, dtype: int64
1    1
2   -1
3    2
4    1
Name: 308, dtype: int64
1   -1
2   -3
3   -1
4   -4
5   -7
Name: 309, dtype: int64
1    0
2   -6
3   -3
4   -1
Name: 310, dtype: int64
1    0
2    2
3   -2
4   -3
5   -4
Name: 311, dtype: int64
1   -2
2   -1
3    0
4   -2
5   -3
6   -1
Name: 312, dtype: int64
1    0
2   -5
3   -3
4   -3
5   -4
Name: 313, dtype: int64
1    4
2    4
3    2
4    1
Name: 315, dtype: int64
1    5
2    2
3    2
4    3
5    2
6    4
Name: 316, dtype: int64
1   -4
2   -4
3   -1
4   -3
5   -1
6    1
Name: 317, dtype: int64
1   -5
2    0
3   -1
4   -1
Name: 318, dtype: int64
1    4
2    1
3    1
4    3
5    5
6    1
Name: 319, dtype: int64
1   -3
2    3
3   -2
4    2
Name: 320, dtype: int64
1   -1
2    2
3    6
4    3
5    1
6    0
Name: 322, dtype: int64
1    4
2    3
3    3
4    3
5    4
Name: 323, dtype: int64
1    4
2    2
3    1
4    2
5    1
6    3
7    1
Name: 324, dtype: int64
1    0
2    0
3    1
4   -3
Name: 325, dtype: int64
1   -5
2   -1
3   -1
4   -1
5    0
6    0
Name: 326, dtype: int64
1    1
2   -2
3   -2
4   -1
5   -6
6   -3
7    3
Name: 328, dtype: int64
1    0
2    0
3    3
4    2
5    2
6    2
7    6
Name: 329, dtype: int64
1   -4
2   -1
3   -1
4   -3
5    0
6   -5
Name: 330, dtype: int64
1    1
2    1
3    4
4    3
5    0
Name: 331, dtype: int64
1    7
2    2
3    0
4    1
5    6
Name: 332, dtype: int64
1    0
2    1
3    6
4    3
Name: 333, dtype: int64
1    0
2    2
3    3
4    6
5    4
Name: 335, dtype: int64
1   -3
2   -1
3   -1
4   -2
5   -4
6    0
Name: 336, dtype: int64
1   -4
2   -1
3   -2
4   -1
5   -6
6   -1
7   -5
Name: 337, dtype: int64
1    4
2    3
3    3
4    2
5    6
6    0
Name: 338, dtype: int64
1    1
2    3
3    4
4    2
Name: 339, dtype: int64
1    2
2   -3
3   -1
4   -1
5    1
6   -4
Name: 340, dtype: int64
1   -1
2    2
3    1
4   -3
Name: 341, dtype: int64
1    0
2    1
3    1
4    1
5    5
6    2
7    7
Name: 342, dtype: int64
1    5
2    6
3    1
4   -2
Name: 344, dtype: int64
1    5
2   -2
3    2
4   -1
Name: 345, dtype: int64
1   -6
2    2
3   -3
4   -4
Name: 347, dtype: int64
1   -4
2   -5
3   -3
4    0
Name: 348, dtype: int64
1   -6
2   -3
3   -5
4    2
Name: 349, dtype: int64
1    5
2    1
3    3
4    4
5    1
Name: 350, dtype: int64
1   -3
2    1
3    3
4    2
5    4
Name: 351, dtype: int64
1    4
2    2
3   -2
4    1
5   -2
Name: 352, dtype: int64
1    0
2   -2
3   -3
4    1
5   -3
6   -3
7   -2
Name: 353, dtype: int64
1    0
2   -2
3   -4
4   -1
5   -1
6   -6
Name: 354, dtype: int64
1   -4
2   -3
3   -4
4   -3
5   -2
6   -3
7    0
Name: 355, dtype: int64
1   -6
2   -3
3   -4
4   -3
5   -2
6   -1
7   -3
Name: 357, dtype: int64
1   -7
2   -5
3   -2
4   -3
5    0
Name: 358, dtype: int64
1    1
2    1
3    3
4   -1
5    0
Name: 359, dtype: int64
1   -7
2   -3
3   -2
4   -1
5   -2
6    0
Name: 360, dtype: int64

In [ ]:
# maybe_increasing = []
# maybe_decreasing = []
# still_dirty = []
# counter = 0
# for row in unsafe_list:
#     p2 = row.dropna()
#     if p2.is_monotonic_increasing:
#         maybe_increasing.append(p2)
#     elif p2.is_monotonic_decreasing:
#         maybe_decreasing.append(p2)
#     else:
#         still_dirty.append(p2)

# print(len(still_dirty))

        # clean = p2.diff().dropna().astype('int')
        # maybe_list.append(clean)

170